#hello {
    color: skyblue;
}

#hello1 {
    background-color: aqua;
}

#hello2 {
    margin: 10%;
    border-radius: 20%;
    background-color: blueviolet;
    border: solid 2px color white;
    color: bisque;
}